@import url('https://fonts.googleapis.com/css2?family=Jua&family=Kirang+Haerang&family=Rubik+Wet+Paint&display=swap');

@font-face {
    font-family: "Maplestory";
    src: url('./MaplestoryFont_TTF/Maplestory\ Bold.ttf');
}

body { 
    margin: 0px; 
    font-family: "Maplestory"; 
    max-height: 2880px;
    max-width: 5120px;
    width: 100%;
    height: 100%;
    background-color:bisque;
}

header {
    top: 0;
    position: fixed;
    max-width: 5120px;
    width: 100%;
    background-color: black;
    z-index: 10;
}

main { 
    margin-top: 140px; 
    margin-bottom: 48px;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: black;
    z-index: 10;   
}

footer p {
    text-align: center;
    color: #ffffff;
}

.games p {
    text-align: center;
}

body > header > h1 {
    font-size: 60px;
    color: #ffffff;
    text-align: center;
}

#gamesContainer, #developersContainer {
    display: flex;
    max-width: 5120px;
    max-height: 1600px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#gamesContainer {
    background-color: aliceblue;
}

#gamesContainer h1, #developersContainer h1 {
    margin-left: 24px;
    width: 100%;
}

.developerProfileImage img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 0px 24px;
}

#developersContainer p {
    text-align: center;
    margin-left: 24px;
    width: 150px;
}

.games {
    margin: 24px;           
}

.games img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.games > a {
    display: block;
    width: auto;
    text-decoration: none;
    margin: 5px;
}


.games > a .screen {
    position: relative;
    overflow: hidden;
}

.games > a .screen .top {
    position: absolute;
    bottom: 150%;
    left: 30px;
    z-index: 2;
    color: #ffffff;
    font-size: 26px;
    font-weight: 900;
    transition: all .35s;
}

.games > a .screen .bottom {
    position: absolute;
    top: 150%;
    left: 30px;
    z-index: 2;
    color: #fff;
    font-size: 20px;
    transition: all .35s;
}

.games > a .screen::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
    opacity: 0;
    transition: all .35s;
}

.games > a:hover .screen::after {
    height: 200px;
    opacity: 1;
}

.games > a:hover .top { bottom: 52%; }

.games > a:hover .bottom{ top: 52%; }

@media all and (max-height: 1600px) {
    main {
        margin-bottom: 48px;
    }
    .developerProfileImage img {
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }
    #developersContainer p {
        text-align: center;
        margin-left: 24px;
        width: 150px;
    }
}